[Unit]
Description="Название"
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory='Путь до папки с ботом'
ExecStart='Путь до python3.11' "Путь до main.py"
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target